version: '3'

services:
  problem6:
    build: .
    image: problem6
    environment:
      - MONGODB_URL=mongodb://mongodb:27017/problem6
    ports:
      - '3000:3000'
    depends_on:
      - mongodb
    volumes:
      - .:/usr/src/problem6
    networks:
      - problem6-network

  mongodb:
    image: mongo:4.2.1-bionic
    ports:
      - '27017:27017'
    volumes:
      - dbdata:/data/db
    networks:
      - problem6-network

volumes:
  dbdata:

networks:
  problem6-network:
    driver: bridge
